.host 
  h2.host-heading Popular Hosts 
  ul.host-list 
    each user in [1,2,3,4,5,6,7]
      li.host-item
        .host-avatar 
          img(srcSet="./images/img-host-user.png 2x" alt="thomas")
        span.host-name Thomas