.topbar
    .search
        img(src="./images/icons/icon-search.svg", alt="search").search-icon
        input.search-input(type="text" placeholder="Search 2+ million podcasts and listeners")
    .topbar-right
        button.button-upload
            img(src="./images/icons/icon-upload.svg", alt="upload")
            span Upload
        a(href="#").topbar-action
            img(src="./images/icons/icon-message.svg", alt="message")
        a(href="#").topbar-action
            img(src="./images/icons/icon-noti.svg", alt="noti")
        a(href="#").profile
            img(src="https://images.unsplash.com/photo-1493612276216-ee3925520721?q=80&w=1364&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="")
            